<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foreveross.webbase.solidchoice.dao.BannerMapper" >
  <resultMap id="BaseResultMap" type="com.foreveross.webbase.solidchoice.entity.Banner" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="jump_url" property="jumpUrl" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_uid" property="updateUid" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_uid" property="createUid" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, text, img_url, jump_url, type, position, is_del, update_time, update_uid, create_time,
    create_uid
  </sql>
  <select id="selectBannerList" resultMap="BaseResultMap">
    select
       <include refid="Base_Column_List" />
    from a_banner

  </select>
<!--  <select id="queryDictListByCondition" resultType="BaseResultMap" parameterType="com.foreveross.webbase.solidchoice.entity.Banner" >
    SELECT
    <include refid="Base_Column_List" />
    FROM
    banner
    WHERE

    <if test="code!=null">
      AND d.code=#{code}
    </if>
    <if test="name!=null">
      AND d.name=#{name}
    </if>

  </select>-->

    <select id="findList" resultType="com.foreveross.webbase.solidchoice.entity.Banner">
        select <include refid="Base_Column_List" />
      from a_banner s
      <where>
        and type=1
        <if test="text != null and text != ''">
          AND s.text LIKE
          <if test="dbName == 'oracle'">'%'||#{text}||'%'</if>
          <if test="dbName == 'mssql'">'%'+#{text}+'%'</if>
          <if test="dbName == 'mysql'">concat('%',#{text},'%')</if>
        </if>
      </where>
      <choose>
        <when test="page !=null and page.orderBy != null and page.orderBy != ''">
          ORDER BY ${page.orderBy}
        </when>
        <otherwise>
        </otherwise>
      </choose>
    </select>

  <select id="findAllList" resultType="BdxtDict">
    SELECT
    <include refid="Base_Column_List"/>
    FROM a_banner
    <where>
    </where>
    <choose>
      <when test="page !=null and page.orderBy != null and page.orderBy != ''">
        ORDER BY ${page.orderBy}
      </when>
      <otherwise>
      </otherwise>
    </choose>
  </select>
  <insert id="insert" parameterType="com.foreveross.webbase.solidchoice.entity.Banner" >
    insert into a_banner (id, text, img_url,
    jump_url, type, position,
    is_del, update_time, update_uid,
    create_time, create_uid)
    values (#{id,jdbcType=INTEGER}, #{text,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR},
    #{jumpUrl,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR},
    #{isDel,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUid,jdbcType=BIGINT},
    now(), #{createUid,jdbcType=BIGINT})
  </insert>

  <delete id="delete">
    delete from a_banner
    where id = #{id}
  </delete>

  <update id="update" parameterType="com.foreveross.webbase.solidchoice.entity.Banner" >
    update a_banner
    <set >
      <if test="text != null" >
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="jumpUrl != null" >
        jump_url = #{jumpUrl,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>

         update_time = now(),

      <if test="updateUid != null" >
        update_uid = #{updateUid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null" >
        create_uid = #{createUid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from a_banner
    where id = #{id}
  </select>
</mapper>